<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <h1> Compose your blogpost</h1>
    <form action="/compose" method=post>
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="blogpost" type="text" />
          <label>Post</label>
        <textarea class="form-control" name="postbody" rows="8" cols="80"></textarea>
        <button class="btn btn-primary" type="submit">Publish</button>
      </div>

    </form>


  </body>
</html>
